@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  font-family: 'Roboto', sans-serif; }

.wrapper {
  height: 900px;
  overflow-x: auto;
  position: relative; }
  .wrapper table.tablesorter {
    width: 1% !important; }
    .wrapper table.tablesorter thead tr th {
      border: 0 !important; }
    .wrapper table.tablesorter thead th, .wrapper table.tablesorter thead td {
      background: white;
      width: auto !important; }
      .wrapper table.tablesorter thead th .tablesorter-header-inner, .wrapper table.tablesorter thead td .tablesorter-header-inner {
        text-align: center; }
        .wrapper table.tablesorter thead th .tablesorter-header-inner .glyphicon, .wrapper table.tablesorter thead td .tablesorter-header-inner .glyphicon {
          display: block;
          text-align: center; }
    .wrapper table.tablesorter thead .top-headings #company_info, .wrapper table.tablesorter thead .top-headings #current_survey {
      background: black;
      color: white;
      text-align: center; }
    .wrapper table.tablesorter thead .top-headings #next_survey {
      background: white;
      text-align: center; }
    .wrapper table.tablesorter thead .tableheading_level2 th {
      background-color: #ffe000; }
    .wrapper table.tablesorter tbody {
      overflow-x: auto;
      margin-top: 0px;
      border: 1px solid #F5D04C; }
      .wrapper table.tablesorter tbody td {
        width: 1px !important;
        white-space: nowrap !important; }
    .wrapper table.tablesorter th {
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: #000;
      /*  color: #F5D04C;*/
      text-transform: uppercase; }
    .wrapper table.tablesorter td {
      padding: 15px;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: 16px;
      /*  color: #000;*/
      color: #000;
      border-bottom: solid 2px #ffe000;
      text-align: center; }
    .wrapper table.tablesorter .filtered {
      display: none !important; }

/*** custom css only popup ***/
.columnSelectorWrapper {
  position: relative;
  margin: 10px 0;
  display: block; }

.columnSelector, .hidden {
  display: none; }

.columnSelectorButton {
  background: #ffe000;
  border: #000 2px solid;
  color: #000;
  padding: 5px; }

#colSelect1:checked + label {
  background: #000;
  color: #ffffff;
  border-color: #000; }

#colSelect1:checked ~ #columnSelector {
  display: block; }

.columnSelector {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  padding: 10px;
  background: #fff;
  border: #99bfe6 1px solid;
  border-radius: 5px;
  left: 0;
  right: 0; }

.columnSelector label {
  display: block; }

.columnSelector label:nth-child(1) {
  border-bottom: #99bfe6 solid 1px;
  margin-bottom: 5px; }

.columnSelector input {
  margin-right: 5px; }

.columnSelector .disabled {
  color: #ddd; }

.columnSelector div {
  float: left;
  width: 20%;
  margin-right: 10px; }
